body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: white;
  text-align: center;
  margin: 0;
  background: url('../Images/pexels-chokniti-khongchum-1197604-2280547.jpg') center;
  color: black;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.page {
  background: white;
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea,
form button {
  margin: 10px 0;
  padding: 10px;
}
.btn {
  background: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  border-radius: 5px;
}
footer {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}

nav ul li a:hover {
  text-decoration: underline;
  color: lightgray;
}
header {
  background: url('../Images/pexels-pixabay-208512.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 15px 0;
}

#appointment {
  background: url('../Images/pexels-pixabay-159211.jpg') no-repeat center center;
}
#why-choose-us {
  background: white;
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  color: black;
  text-align: left;
}

#why-choose-us ul {
  list-style: disc;
  margin-left: 10px;
}

#faq {
  background: white;
  padding: 30px;
  margin: 10px auto;
  max-width: 800px;
  border-radius: 10px;
  color: black;
  text-align: left;
}

.faq h4 {
  font-weight: bold;
  margin-top: 15px;
}

.faq p {
  margin-left: 15px;
}
#medical-services {
  background: url('../Images/pexels-karolina-grabowska-4386464.jpg') no-repeat center center;
  padding: 30px;
  margin: 10px auto;
  max-width: 800px;
  border-radius: 10px;
}

#medical-services h3 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}

.service-item {
  background: lightgreen;
  padding: 15px;
  border-radius: 5px;
}

.service-item h4 {
  margin-bottom: 5px;
  color: black;
}

.service-item p {
  color: black;
}
