body {
 font-family: Arial, sans-serif;
 padding: 0;
 background-color: white;
 text-align: center;
}
header {
 background: lightseagreen;
 color: white;
 padding: 15px 0;
}
nav ul {
 list-style: none;
 padding: 0;
}

